In [1]:
import cluster_functions as cf
import cluster_functions_nb as cf_nb
import debther_texts
import pandas as pd

In [2]:

a = debther_texts.debther_gangtok()
b = debther_texts.debther_peking()
sep,repl,_,_ = debther_texts.debther_parameters()
    
a = cf.clean(a,sep,repl)
b = cf.clean(b,sep,repl)

['་', ' ', '\\n']
['་', ' ', '\\n']

In [3]:
df_1 = cf.find_cluster(a,b,10)

In [4]:
df_2 = cf_nb.find_cluster(a,b,10)

In [5]:
df_1.columns

Index(['start_text_a', 'end_text_a', 'start_text_b', 'end_text_b', 'length',
       'differenz'],
      dtype='object')

In [6]:
df_2.columns

Index(['start_text_a', 'end_text_a', 'start_text_b', 'end_text_b', 'length',
       'differenz'],
      dtype='object')

In [7]:
diff = df_1.merge(df_2, on=df_1.columns.tolist(),how='outer',indicator=True)
diff = diff[diff['_merge'] != 'both'].drop(columns=['_merge'])

In [8]:
diff

Empty DataFrame
Columns: [start_text_a, end_text_a, start_text_b, end_text_b, length, differenz]
Index: []

In [12]:
df_1

     start_text_a  end_text_a  start_text_b  end_text_b  length  differenz
0              21          66             6          51      45        -15
1              67         101            52          86      34        -15
2             104         117            90         103      13        -14
3             122         174           120         172      52         -2
4             180         191           178         189      11         -2
..            ...         ...           ...         ...     ...        ...
961         30378       30397         55749       55768      19      25371
962         30400       30414         55771       55785      14      25371
963         30422       30455         55793       55826      33      25371
964         30456       30471         55828       55843      15      25372
965         30487       30513         55862       55888      26      25375

[966 rows x 6 columns]

In [13]:
df_2

     start_text_a  end_text_a  start_text_b  end_text_b  length  differenz
0              21          66             6          51      45        -15
1              67         101            52          86      34        -15
2             104         117            90         103      13        -14
3             122         174           120         172      52         -2
4             180         191           178         189      11         -2
..            ...         ...           ...         ...     ...        ...
961         30378       30397         55749       55768      19      25371
962         30400       30414         55771       55785      14      25371
963         30422       30455         55793       55826      33      25371
964         30456       30471         55828       55843      15      25372
965         30487       30513         55862       55888      26      25375

[966 rows x 6 columns]

In [11]:
diff = df_1.eq(df_2)  # Vergleicht Werte
df_diff = df_1.mask(diff)  # Ersetzt gleiche Werte mit NaN
df_diff.dropna()

Empty DataFrame
Columns: [start_text_a, end_text_a, start_text_b, end_text_b, length, differenz]
Index: []